/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mui
 *= require prism
 */

body {
  background-color: #EFE7BE;
}

#code-right{
	background-color: #013440;
}

#title,#subtitle{
	padding:0px 0px 0px 50px;
	margin:5px 0px 0px 0px;
}

.desc{
	padding:10px 25px 1px 50px;
	max-width: 450px;
	min-width: 450px;
	vertical-align: top;
	text-align: left;
}

.code{
	width: 100%;
	padding-right: 5px;
}

.center{
    width: 500px;
    height: 500px;
    
    position: absolute;

    /*margin: auto;*/
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
}

.align-right{
	text-align:right;
}

.align-left{
	text-align:left;
}

.align-center{
	text-align:center;
}
.footer{
	background-color:#013440;
}