<div class="mui-row">
  <div class="mui-col-xs-6 mui-col-md-4"><div class="mui-text-display3 mui-text-black" id="title">Automation</div><h4 id="subtitle">A Quick Start Guide using Cucumber &amp; Watir</h4></div>
  <div class="mui-col-xs-12 mui-col-md-8">
  </div>
</div>